/* Styles limited to runescape-kingdoms sheets */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.item-form {
  font-family: "Roboto", sans-serif;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.sheet-header .header-fields {
  flex: 1;
}
.sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox .tox-editor-container {
  background: #fff;
}
.tox .tox-edit-area {
  padding: 0 8px;
}

.border-1 {
  border-radius: 3px;
  border: solid;
  border-color: #7a7971;
  border-width: 1px;
}

.resource-label {
  font-weight: bold;
}

.spell-resource {
  margin-bottom: 0.3em;
}

.skills .skill {
  padding: 0.2rem;
  border-style: double;
  border-width: 0.3rem;
  border-color: #191813;
}
.skills .skill .skill-number {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.attributes .attribute .attribute-number-wrap {
  position: relative;
  height: 4em;
}
.attributes .attribute .attribute-number-wrap .attribute-number {
  background: rgba(0, 0, 0, 0.05);
  border: solid;
  border-color: #7a7971;
  border-width: 5px;
  height: 4em;
  width: 4em;
  overflow: hidden;
  aspect-ratio: 1;
  --o:calc(50%*tan(-22.5deg));
  clip-path: polygon(var(--o) 50%, 50% var(--o), calc(100% - var(--o)) 50%, 50% calc(100% - var(--o)));
  position: absolute;
  left: 50%;
  margin-left: -2em;
}
.attributes .attribute .attribute-number-wrap .attribute-number:before {
  content: "";
  position: absolute;
  border: inherit;
  display: inherit;
  rotate: 45deg;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
}
.attributes .attribute .attribute-number-wrap .attribute-number-text {
  position: absolute;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  height: 4em;
  border: none;
  background: none;
}

.character-description .biography {
  height: 15rem;
}
.character-description .biography .editor {
  border-radius: 3px;
  border: solid;
  border-color: #7a7971;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}
.character-description .charInfo {
  border: none;
}

.items-header {
  min-height: 28px;
  height: auto;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3, .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #191813;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  min-height: 28px;
  height: auto;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

.skill-roll .success {
  color: #00AF00;
}
.skill-roll .fail {
  color: #BA0000;
}
.skill-roll .roll-results .dice-values {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  margin: 0 1.3em;
  justify-content: space-evenly;
}
.skill-roll .roll-results .dice-values .dice-value {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 1.1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  height: 1.3em;
  width: 1.3em;
  overflow: hidden;
  text-align: center;
}
.skill-roll .roll-results .dice-values .dice-value.discarded {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.actor {
  min-width: 600px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to runescape-kingdoms sheets */
