$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

// helps make it darker while being same as colour below element
$shade-light: rgba(0, 0, 0, 0.05);
$shade-dark: rgba(0, 0, 0, 0.2);

// borders
$c-border-1: #7a7971;
$c-border-2: #191813;

$success: #00AF00;
$fail: #BA0000;