@use "./colors" as colours;

@mixin element-invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide {
  display: none;
}

@mixin border-1{
  border-radius: 3px;
  border: solid;
  border-color: colours.$c-border-1;
  border-width: 1px;
}