<div class="" data-actor-id="{{ownerId}}" {{#if tokenId}} data-token-id="{{tokenId}}"{{/if}}>
    <div class="spell-roll">
       {{> "systems/runescape-kingdoms/templates/chat/parts/roll-base.hbs"}}
    </div>
</div>