<form class="flexcol" autocomplete="off">
 <select name="chosenAttributeSkillRoll">
    {{#each actor.system.attributes as |attribute key|}}
        <option value="{{key}}">{{localize (lookup @root.config.attributes key)}}</option>
    {{/each}}
 </select>
 <div>
    <label for="bonus">{{localize "RUNESCAPE_KINGDOMS.Rolls.Bonus"}}</label>
    <input class="attribute-number-text" type="text" name="bonusValue" value="0" data-dtype="Number" />
</div>
</form>