@use "../utils/index.scss" as utils;

.window-app {
  font-family: utils.$font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}